  <div class="row">
    <%= image_tag 'Main_BG_small.jpg' %>
  </div>

    <div class="row text-center py-3">
      <h1>Beserker Articles</h1>
      <br/>
      <% if @posts.count > 0 %>
        <% @posts.each do |post| %>
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7 my-auto align-middle">
              <h2 class="featurette-heading"><%= link_to post.title, show_post_path(id: post.id) %></h2>
              <p class="lead"><%= truncate post.content, length: 50 %></p>
            </div>
            <div class="col-md-5">
            <% if post.image.present? %>
              <%= image_tag post.image.variant(resize: "500x500") %>
            <% else %>
              <%= image_tag 'default.png', style: 'height:500px; width:500px;' %>
            <% end %>
            </div>
          </div>
         <% end %>
      <% else %>
        <h2>There aren't any posts yet</h2>
      <% end %>
    </div>



</div>



